#BottomBar {
    background: transparent;
    box-shadow: none !important;
    padding: 0;
}

#Status {
    color: var(--Maize);
}

#ProgressBar {
    --color-progress-bar-foreground: var(--Maize);
    --color-progress-bar-background: var(--DarkGreenBG);
    border-radius: 0px;
    border: var(--Inset);
}

#FriendsButton, #AddGameButton, #DownloadStatusContent {
    border: var(--Outset);
    &:hover {
        background: var(--LightGreenBG);
    }
    &:active {
        border: var(--Inset);
    }
}

#Queue, #Text {
    color: var(--OffWhite);
}

#Icon {
    display: none;
}