#Playtime {
    color: var(--Maize);
}

#ReviewThumbButton {
    background: var(--GreenBG);
    border: var(--Outset);
    border-radius: 0;
    color: var(--Maize);
}

#ThumbIcon {
    fill: var(--Maize);
}

#RatingContainer {
    background: var(--GreenBG);
}