#PagedSettingsDialog_PageListColumn {
    background: var(--DarkGreenBG);
}

#PagedSettingsDialog_PageContent {
    background: var(--GreenBG);
}

#PagedSettingsDialog_Title {
    color: var(--Maize);
}

#Active {
    background: var(--LightGreenBG);
}