#AchievementProgress {
    background-color: var(--Maize);
    border-radius: 0;
}

#AchievementProgressContainer {
    background: var(--DarkGreenBG);
    border: var(--Inset);
    border-radius: 0;
}